@* This is the second round of the story gameplay *@

@inject IJSRuntime JSRuntime

<div class="@backgroundimg">

    @* sounds from https://www.fiftysounds.com/ *@
    <audio id="flip" src="./media/sfx-paperflip1.mp3" />
    <audio id="disappear" src="./media/sfx-swoosh6.mp3" />

    <header>
		<div class="deck-logo"> <!-- ## Start Logo part ## -->
			<img src="../img/deck-logo.png" alt="ZooBreakout!"/>
		</div> <!-- ## End Logo part ## -->
	</header>
	
    @* player info *@
	<div class="flex-container">
		<div class="flex-row">
			<span class="flex-item"> Player name: <b id="player-name">@Name</b></span>
		</div>
		<div class="flex-row">
			<span class="flex-item"> Round number: <b id="Round-number">@(NumberOfRounds+1)</b></span>
		</div>
	</div>

	<section id="game1">
		<div id="cards1">
		    @UnwinnableString
            @if (!UserWon && NumberOfRounds != 5 && CanStillPlay)
            {
                int count = 0;

                @* cards and drop targets for chevrons *@
                <div class="row">
                    @foreach(var card in TheDeck.Cards)
                    {
                        int index = count;
                        <div class="col justify-content-center">
                            @if (card == 0)
                            {
                                <img class="card1" src=@Cards[CardFaces[index]] alt="card" width="100%" style="margin:2px;max-width:200px;" @onclick="() => CardClicked(index)">
                            }
                            else if (card == 1)
                            {
                                <img class="card1" src="../img/cards/back_card.png" alt="card" width="100%" style="margin:2px;max-width:200px;">
                            }
                            else
                            {
                                <img class="card1" src="../img/cards/blank_card.png" alt="card" width="100%" style="margin:2px;opacity:0;max-width:200px;">
                            }
                            <DropTarget T="String" Drop="@OnDrop" DropTargetNumber="@index">
                                    <div class="drop-target">
                                        @switch(Chevrons[index])
                                        {
                                            case "greenleft":
                                                <img src="../img/puzzlepieces/green-end-left.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "greenright":
                                                <img src="../img/puzzlepieces/green-end-right.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "orangeleft":
                                                <img src="../img/puzzlepieces/orange-left.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "orangeright":
                                                <img src="../img/puzzlepieces/orange-right.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "purpleleft":
                                                <img src="../img/puzzlepieces/purple-left.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "purpleright":
                                                <img src="../img/puzzlepieces/purple-right.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            case "blue":
                                                <img src="../img/puzzlepieces/blue-outward.png" alt="chevron" height="75%" style="max-width:60px;"> break;
                                            case "yellow":
                                                <img src="../img/puzzlepieces/yellow-piece.png" alt="chevron" height="75%" style="max-width:75px;"> break;
                                            default:
                                                <img src="../img/puzzlepieces/green-end-left.png" alt="chevron" height="75%" style="opacity:0;max-width:75px;"> break;
                                        }
                                    </div>
                                </DropTarget>
                        </div>
                        count++;
                    }
                </div>

                @* all draggable objects *@
                <div class="row">
                    <div class="col-2">
                        <Draggable Data="@Draggables[0]">
                            <div class="draggable">
                                <img src="../img/puzzlepieces/green-end-left.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                        <Draggable Data="@Draggables[1]">
                            <div class="draggable">
                                <img src="../img//puzzlepieces/green-end-right.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                    </div>
                    <div class="col-2">
                        <Draggable Data="@Draggables[2]">
                            <div class="draggable">
                                <img src="../img//puzzlepieces/orange-left.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                        <Draggable Data="@Draggables[3]">
                            <div class="draggable">
                                <img src="../img//puzzlepieces/orange-right.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                    </div>
                    <div class="col-2">
                        <Draggable Data="@Draggables[4]">
                            <div class="draggable">
                                <img src="../img//puzzlepieces/purple-left.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                        <Draggable Data="@Draggables[5]">
                            <div class="draggable">
                                <img src="../img//puzzlepieces/purple-right.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                    </div>
                    <div class="col-2">
                        <Draggable Data="@Draggables[6]">
                            <div class="draggable">
                                <img src="../img/puzzlepieces/blue-outward.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                        <Draggable Data="@Draggables[7]">
                            <div class="draggable">
                                <img src="../img/puzzlepieces/yellow-piece.png" alt="chevron" height="75px">
                            </div>
                        </Draggable>
                    </div>

                    @* game decision buttons *@
                    <div class="col-4 d-flex align-items-center justify-content-center">
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" 
                        disabled="@ButtonDisabled" @onclick="Unwinnable">Unwinnable!</a>
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" 
                        disabled="@ButtonDisabled" @onclick="() => TheDeck.UndoLastMove()">Undo</a>
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" 
                        disabled="@ButtonDisabled" @onclick="() => TheDeck.ResetDeck()">Reset</a>
                    </div>
                </div>
            }
		</div> <!-- #cards -->
	</section> <!-- #game -->

    @* different popups for scenerios *@
    @if (UserWon || (!CanStillPlay && !UserWon) || NumberOfRounds == 5)
    {
        <section id="popup">
            <div id="popup-bg"></div>
            <div id="popup-box">
                <div id="popup-box-content">
                    @* if the user won *@
                    @if (UserWon && NumberOfRounds != 5)
                    {
                        <audio hidden autoplay controls><source src="../media/sfx-victory5.mp3" /></audio>
                        Wins++;
                        <h1 class="display-1">You Won!</h1>
                        <p>@UnwinnableString</p>
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" @onclick="NextGame">Next Game!</a>
                    }
                    @* if the user lost *@
                    else if (!CanStillPlay && !UserWon)
                    {
                        <audio hidden autoplay controls><source src="../media/sfx-defeat4.mp3" /></audio>
                        ButtonDisabled = true;
                        <h1 class="display-1">You Lost!</h1>
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" @onclick="NextGame">Next Game!</a>
                    }
                    @* if the second round of gameplay is finished *@
                    else if (NumberOfRounds == 5)
                    {
                        <audio hidden autoplay controls><source src="../media/sfx-victory5.mp3" /></audio>
                        <h1 class="display-4">Second Round Complete!</h1>
                        <a class="st-btn btn-fill" data-toggle="modal" data-target="#" style="margin-top:20px;" 
                        @onclick="() => SecondRoundComplete.InvokeAsync(Tuple.Create(Wins, CorrectUnwinnables, TotalUnwinnables))">Summary!</a>
                    }
                </div>
            </div>
        </section>
    }
</div>

@code {
    [Parameter]
    public EventCallback<Tuple<int, int, int>> SecondRoundComplete { get; set; }
    [Parameter]
    public string Name { get; set; } = "";
    public int CorrectUnwinnables { get; set; } = 0;
    public int Wins { get; set; } = 0;
    public Deck TheDeck { get; set; }
    public bool UserWon { get; set; } = false;
    public int NumberOfRounds { get; set; } = 0;
    public bool CanStillPlay { get; set; } = true;
    public bool GameWinnable{ get; set; }
    public string[] Chevrons { get; set; } = new string[7];
    public string[] Draggables { get; set; } = new string[] {
        "greenleft", "greenright", "orangeleft", "orangeright",
        "purpleleft", "purpleright", "blue", "yellow"
    };
    public string UnwinnableString { get; set; } = "";
    public string[] Cards = new string[] {
        "../img/cards/bear_card.png", "../img/cards/cat_card.png", "../img/cards/flamingo_card.png", 
        "../img/cards/iguana_card.png", "../img/cards/jellyfish_card.png", "../img/cards/kangoroo_card.png", 
        "../img/cards/lion_card.png", "../img/cards/owl_card.png"
    };
    public int[] CardFaces = new int[7];
    Random random = new Random(DateTime.Now.Millisecond);
    public bool ButtonDisabled { get; set; } = false;
    public string backgroundimg { get; set; } = "";
    public int TotalUnwinnables { get; set; } = 0;


    protected override void OnInitialized()
    {
        // setup game
        TheDeck = new Deck(2, NumberOfRounds);
        CanStillPlay = true;
        GameWinnable = TheDeck.WinPossible(1);
        if (!GameWinnable)
            TotalUnwinnables++;

        // pick random card faces
        for (int i = 0; i < 7; i++)
            CardFaces[i] = random.Next(Cards.Length);

        // pick random background
        int imagenum = random.Next(0, 3);
        if (imagenum == 0)
            backgroundimg = "image1";
        else if (imagenum == 1)
            backgroundimg = "image2";
        else
            backgroundimg = "image3";

        base.OnInitialized();
    }

    public async void CardClicked(int card)     // called when a card is clicked
    {
        // change te card, check if they won/lost, and update the screen
        TheDeck.ChangeCard(card);
        UserWon = TheDeck.CheckWin();
        CanStillPlay = TheDeck.WinPossible(0);
        await JSRuntime.InvokeAsync<string>("CardFlipSound");
    }

    public void NextGame()                      // called when a game is complete
    {
        // reset game
        NumberOfRounds++;
        TheDeck = new Deck(2, NumberOfRounds);
        for (int i = 0; i < 7; i++)
            CardFaces[i] = random.Next(Cards.Length);
        Chevrons = new string[7];
        GameWinnable = TheDeck.WinPossible(1);
        if (!GameWinnable)
            TotalUnwinnables++;
        UserWon = false;
        CanStillPlay = true;
        ButtonDisabled = false;
        UnwinnableString = "";
    }

    public void OnDrop(Tuple<int, string> data)     // called when the user drops a chevron
    {
        // update array
        Chevrons[data.Item1] = data.Item2;
    }

    public void Unwinnable()                // called when a user declares unwinnable
    {
        // output correct string
        if (!GameWinnable)
        {
            UnwinnableString = "You are right! The game is unwinnable";
            UserWon = true;
            CorrectUnwinnables++;
        }
        else
        {
            UnwinnableString = "You are wrong! You can win this game!";
        }
    }
}